{% if page.attention == true %}
<a href="{{ page.base }}producthunt/" class="attention">
    <strong>Product Hunt + discounts coming up</strong><span>😻</span>Get notified!
</a>
<script src="{{ page.base }}js/attention.js"></script>
{% endif %}
