<footer{% if page.color == "dark" %} class="template-dark"{% endif %}>
    <div class="container">
        <div class="row footer-navigation">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="footer-branding">
                    <img src="{{ page.base }}images/tripetto-logo{% if page.color == "dark" %}-white{% endif %}.svg" alt="Logo Tripetto" class="logo"/>
                    <h6>Tripetto</h6>
                </div>
                <small>Wake-up call for the form and survey dinosaurs.</small>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <h6>Tripetto</h6>
                <ul>
                    <li><a href="{{ page.base }}product/">Product</a></li>
                    <li><a href="{{ page.base }}features/">Features</a></li>
                    <li><a href="{{ page.base }}pricing/">Pricing</a></li>
                    <li><a href="{{ page.base }}platforms/">Platforms</a></li>
                    <li><a href="{{ page.base }}typeform-alternative/">Swap Typeform</a></li>
                    <li><a href="{{ page.base }}compare/">Compare Tripetto</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <h6>Resources</h6>
                <ul>
                    <li><a href="{{ page.base }}examples/">Examples</a></li>
                    <li><a href="{{ page.base }}tutorials/">Tutorials</a></li>
                    <li><a href="{{ page.base }}help/">Help Center</a></li>
                    <li><a href="{{ page.base }}changelog/">Changelog</a></li>
                    <li><a href="{{ page.base }}roadmap/">Roadmap</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <h6>Spotlight</h6>
                <ul>
                    <li><a href="{{ page.base }}studio/">Studio</a></li>
                    <li><a href="{{ page.base }}wordpress/">WordPress</a></li>
                    <li><a href="{{ page.base }}developers/">Developers</a></li>
                    <li><a href="{{ page.base }}higher-completion-rates-with-logic/">Logic Types</a></li>
                    <li><a href="{{ page.base }}no-code-calculations-with-the-calculator-block/">Calculator</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <h6>Developers</h6>
                <ul>
                    <li><a href="{{ page.base }}developers/" target="_blank">Development Kit</a></li>
                    <li><a href="{{ site.url_docs }}" target="_blank">Documentation</a></li>
                    <li><a href="https://gitlab.com/{{ site.accounts.gitlab }}" target="_blank">Open Source</a></li>
                    <li><a href="{{ site.url_npm_search }}" target="_blank">npm Packages</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <h6>Company</h6>
                <ul>
                    <li><a href="{{ page.base }}contact/">Team</a></li>
                    <li><a href="{{ page.base }}blog/">Blog</a></li>
                    <li><a href="{{ page.base }}reviews/">Reviews</a></li>
                    <li><a href="{{ page.base }}contact/">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-communication">
            <div class="col-md-10 col-lg-7 footer-subscribe">
                {% if page.subscribe != false %}
                <form action="https://tripetto.us16.list-manage.com/subscribe/post?u=6eddefde72cc0b876c8b7b1f9&amp;id=f79a61bb9a" method="post" target="_blank" class="form-inline">
                    <label class="sr-only" for="EMAIL">Email address to subscribe</label>
                    <input type="email" name="EMAIL" class="form-input form-input-placeholder" id="EMAIL" placeholder="Type your email for updates">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6eddefde72cc0b876c8b7b1f9_f79a61bb9a" tabindex="-1" value="" /></div>
                    <button type="submit" class="button button-wide">Subscribe</button>
                </form>
                <span>Unsubscribe <a href="{{ page.base }}unsubscribe/">here</a>.</span>
                {% endif %}
            </div>
        </div>
        <div class="row footer-communication">
            <div class="col footer-socials">
                <a href="https://twitter.com/tripetto" target="_blank" class="social twitter"><i class="fab fa-twitter fa-fw" title="Tripetto at Twitter"></i></a>
                <a href="https://www.facebook.com/tripetto" target="_blank" class="social facebook"><i class="fab fa-facebook-f fa-fw" title="Tripetto at Facebook"></i></a>
                <a href="https://www.linkedin.com/company/tripetto" target="_blank" class="social linkedin"><i class="fab fa-linkedin-in fa-fw" title="Tripetto at LinkedIn"></i></a>
                <a href="https://www.youtube.com/channel/UC_OBWRmc5A-R0QkIglEqAyg" target="_blank" class="social youtube"><i class="fab fa-youtube fa-fw" title="Tripetto at YouTube"></i></a>
                <a href="https://medium.com/tripetto" target="_blank" class="social medium"><i class="fab fa-medium-m fa-fw" title="Tripetto at Medium"></i></a>
                <a href="https://gitlab.com/tripetto" target="_blank" class="social gitlab"><i class="fab fa-gitlab fa-fw" title="Tripetto at Gitlab"></i></a>
                <a href="https://www.npmjs.com/search?q=tripetto&amp;ranking=popularity" target="_blank" class="social npm"><i class="fab fa-npm fa-fw" title="Tripetto at npm"></i></a>
            </div>
        </div>
        <div class="row footer-notes">
            <div class="col-12"><hr /></div>
            <div class="col-sm-6">{% include amsterdam.html %}</div>
            <div class="col-sm-6 footer-copyright">Copyright © 2014-2021 Tripetto</div>
        </div>
    </div>
</footer>
