<header id="header"{% if page.color == "dark" %} class="template-dark"{% endif %}>
    <div class="container">
        <div class="row header-horizontal">
            <div>
                <a href="{{ page.base }}"><img src="{{ page.base }}images/tripetto-logo{% if page.color == "dark" %}-white{% endif %}.svg" alt="Logo Tripetto" class="logo"/></a>
                <nav class="d-none d-lg-inline-block">
                    <ul>{% include header-navigation.html %}</ul>
                </nav>
            </div>
            <div>
                <div class="d-none d-lg-inline-block">
                    <a href="{{ page.base }}launch/" class="button button-small">Launch Tripetto</a>
                </div>
                <div class="d-lg-none hamburger" role="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-lg-none">
        <div class="header-mobile-overlay" id="navOverlay">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav>
                            <ul>{% include header-navigation.html %}</ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container header-mobile-cta">
                <div class="row">
                    <div class="col"><img src="{{ page.base }}images/menu.svg" alt="Human sitting on the launch button."/></div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{ page.base }}launch/" class="button"><span>Launch Tripetto</span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">{% include amsterdam.html %}</div>
                </div>
            </div>
        </div>
    </div>
</header>

