{% assign data_author = site.data.authors[include.author] %}
{% assign contact_url = page.base | append: "contact/" %}

<div class="article-info">
    <div class="article-info-avatar">
        {% if data_author.url %}<a href="{{ data_author.url }}" target="_blank">{% else %}<a href="{{ contact_url }}">{% endif %}<img src="{{ page.base }}images/team/{{ data_author.avatar }}" alt="{{ data_author.name }} ({{ data_author.role }})" class="img-fluid" /></a>
    </div>
    <div class="article-info-content">
        <div>{% if data_author.url %}<a href="{{ data_author.url }}" target="_blank">{% else %}<a href="{{ contact_url }}">{% endif %}{{ data_author.name }}</a></div>
        <small>{{ data_author.role }}</small>
    </div>
</div>
