<div class="icon-face icon-face-{{ include.face }} icon-face-{{ include.size }}{% if include.template == "background" or include.template == "developers" %} icon-face-background{% endif %}{% if include.template == "developers" %} icon-face-developers{% endif %}">
  {% if include.template == "label" %}<span>{{ include.name }}</span>{% endif %}
  {% if include.template != "developers" %}<img src="{{ page.base }}images/icons-faces/{{ include.face }}.svg" alt="Illustration representing {{ include.name }}" />{% endif %}
</div>
