
title: Product Hunt + discounts. Today! - Tripetto
description: We’re celebrating the introduction of our brand new calculator feature on Product Hunt with discounts on all our products.

<section class="producthunt-jumbo block-first jumbo">
    <div class="container jumbo-container">
      <div class="row">
        <div class="col jumbo-holder palette-producthunt palette-producthunt-launch shape-after">
          <div class="jumbo-content">
            <h1>We’re launching on Product Hunt today. Get your discount now!</h1>
            <p>We’re celebrating the introduction of our brand new calculator feature on Product Hunt with discounts on all our products. Visit our Product Hunt page for details.</p>
            <div>
              <a href="https://www.producthunt.com/posts/tripetto-3-0" class="button" target="_blank">See Tripetto on Product Hunt</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col jumbo-footer jumbo-footer-hyperlinks">
          <ul class="hyperlinks">
            <li><a href="{{ page.base }}product/" class="hyperlink hyperlink-small"><span>More about Tripetto</span><i class="fas fa-arrow-right"></i></a></li>
            <li><a href="{{ page.base }}launch/" class="hyperlink hyperlink-small"><span>Available as SaaS and WordPress plugin</span><i class="fas fa-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>


{% if page.attention == true %}
<a href="{{ page.base }}producthunt/" class="attention">
    <strong>We’re on Product Hunt today</strong><span>😻</span>Get your discount now!
</a>
<script src="{{ page.base }}js/attention.js"></script>
{% endif %}
