<li>
    <div class="tile-title{% if include.description %} tile-title-padding{% endif %}{% if include.palette-top %} palette-{{ include.palette-top }}{% endif %}">
        {% if include.category %}<span class="palette-{{ include.palette-category }}">{{ include.category }}</span>{% endif %}
        {% if include.webhook-service %}
        <div class="webhook-connection">
            <div class="webhook-connection-tripetto"><img src="{{ page.base }}images/tripetto-logo-white.svg" alt="Logo Tripetto"/></div>
            <div class="webhook-connection-service webhook-connection-{{ include.webhook-service }}"><img src="{{ page.base }}images/help/automate-webhook-services/{{ include.webhook-service }}.png" alt="Logo {{ include.webhook-service-name }}"/></div>
            {% if include.webhook-chain-service %}
            <div class="webhook-connection-service webhook-connection-service-chain webhook-connection-{{ include.webhook-chain-service }}"><img src="{{ page.base }}images/help/automate-webhook-services/{{ include.webhook-chain-service }}.png" alt="Logo {{ include.webhook-chain-service-name }}"/></div>
            {% endif %}
        </div>
        {% endif %}
        <a href="{{ include.url }}"{% if include.target %} target="_blank"{% endif %}><h3{% if include.palette-title %} class="tile-title-border palette-{{ include.palette-title }}"{% endif %}>{{ include.title }}</h3></a>
        {% if include.description %}<p>{{ include.description }}</p>{% endif %}
    </div>
    <div class="tile-pills{% if include.palette-bottom %} palette-{{ include.palette-bottom }}{% endif %}">
        <small class="pills">
            {% if include.type %}<span{% if include.time > 0 or include.time_video > 0 %} class="pill-splitter pill-splitter-after"{% endif %}>{{ include.type }}</span>{% endif %}{% if include.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ include.time }} Min.</span>{% endif %}{% if include.time_video > 0 %}<span><i class="fas fa-video"></i>{{ include.time_video }} Min.</span>{% endif %}
        </small>
    </div>
</li>
