section.logic-block {
  .container {
    .block-intro {
      padding-bottom: 24px;

      h2 {
        @media (min-width: 992px) {
          font-size: 48px;
          letter-spacing: -1px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.5em;
        padding-top: 24px;
        padding-bottom: 16px;

        @media (min-width: 992px) {
          font-size: 20px;
          padding-top: 32px;
          padding-bottom: 24px;
        }

        @media (min-width: 1200px) {
          font-size: 24px;
        }
      }

      small {
        display: block;
        font-size: 16px;
        color: $text-dark-48;
        padding-bottom: 40px;

        @media (min-width: 992px) {
          font-size: 18px;
          padding-bottom: 48px;
        }

        a {
          color: $text-dark-48;
          text-decoration: underline;

          i {
            margin-right: 4px;
          }

          &:hover {
            color: $text-dark-48;
          }
        }
      }
    }

    .block-resources {
      h3 {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 20px;

        @media (min-width: 768px) {
          font-size: 24px;
        }

        &.resources-example {
          font-style: italic;
        }
      }

      p {
        color: $text-dark-64;
        font-size: 18px;
        margin-bottom: 24px;
        font-style: italic;
      }

      ul {
        margin-left: 30px;
        margin-bottom: 24px;

        li {
          padding: 2px 0px;

          a {
            display: inline-block;
            padding: 4px 4px 4px 0px;
            color: $text-dark-64;
            cursor: pointer;

            &:hover {
              color: $text-dark;
              text-decoration: underline;
            }
          }

        }

        &.resources-example {
          li {
            display: inline-block;

            i {
              color: $palette-logic;
            }

            &:first-child {
              margin-right: 36px;
            }

            &:last-child {
              display: list-item;

              a {
                font-weight: bold;
                color: $palette-logic;
              }
            }
          }
        }

        &.resources-help-center {
          li {
            i {
              color: $palette-main;
            }

            &:last-child {
              a {
                font-weight: bold;
                color: $palette-main;
              }
            }
          }
        }

        &.resources-tutorials {
          li {
            i {
              color: $youtube;
            }

            &:last-child {
              a {
                font-weight: bold;
                color: $youtube;
              }
            }
          }
        }
      }
    }
  }
}
