section.help-platforms {
  .container {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  h2.help-platforms-title {
    @media (min-width: 992px) {
      font-size: 48px;
      letter-spacing: -1px;
    }
  }

  .help-platforms-row {
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
      padding-bottom: 80px;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
