ul.pricing-features {
  font-size: 16px;
  margin-left: 28px;
  font-weight: 500;
  margin-bottom: 0;

  li {
    padding-top: 3px;
    padding-bottom: 3px;

    &.featured {
      font-size: 18px;
      font-weight: 700;
    }

    span {
      font-size: 20px;
      margin-top: -2px;
    }

    &.included {
      span {
        color: $palette-yellow;
      }
    }

    &.excluded {
      span {
        color: $palette-red;
      }
    }

    &.palette-purple {
      span {
        color: $palette-purple;
      }
    }

    sup {
      padding-left: 4px;
    }
  }
}
