section.pricing-jumbo {
  .jumbo-row {
    @media (min-width: 1300px) {
      margin-left: -80px;
      margin-right: -80px;
    }
  }

  .jumbo-col {
    padding: 20px 15px;
    border-radius: 8px;

    @media (min-width: 768px) {
      background-repeat: no-repeat;
      background-size: auto 220px;
      background-position: 15px bottom;
    }

    @media (min-width: 1200px) {
      padding: 32px 15px;
      background-size: auto 300px;
    }

    @media (min-width: 1300px) {
      padding: 48px 80px;
      background-position: 80px bottom;
    }

    &.palette-studio {
      background-color: $palette-studio;
      color: #fff;

      @media (min-width: 768px) {
        background-image: url(../images/pricing/studio-free.svg);
      }

      li,
      small {
        a {
          color: #fff;
        }
      }
    }

    &.palette-wordpress {
      background-color: $palette-wordpress;

      @media (min-width: 768px) {
        background-image: url(../images/pricing/wordpress-free.svg);
      }

      .jumbo-content-left {
        border-color: #dfe4ea;
      }
    }
  }

  .jumbo-content {
    display: flex;
    align-items: stretch;

    .jumbo-content-left {
      padding-top: 16px;
      padding-bottom: 16px;

      @media (min-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
        border-right: 1px solid rgba(223, 228, 234, 0.08);
        min-height: 600px;
      }

      @media (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
        min-height: 648px;
      }

      @media (min-width: 1300px) {
        padding-right: 40px;
        padding-left: 15px;
      }

      span {
        font-size: 18px;
        font-weight: 500;
        opacity: 0.64;
      }

      h2 {
        font-size: 64px;
        line-height: 1em;
        letter-spacing: -2px;
        padding-top: 4px;

        @media (min-width: 992px) {
          font-size: 80px;
          letter-spacing: -4px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5em;
        padding-top: 24px;

        @media (min-width: 992px) {
          font-size: 24px;
          padding-top: 36px;
        }

        a {
          color: $text-link;
        }
      }
    }

    .jumbo-content-right {
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      flex-direction: column;
      align-self: center;

      @media (min-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
      }

      @media (min-width: 1300px) {
        padding-left: 64px;
        padding-right: 0px;
      }

      ul.pricing-features {
        padding-top: 16px;

        @media (min-width: 992px) {
          padding-top: 32px;
        }
      }

      small {
        display: block;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        padding-top: 16px;
        opacity: 0.48;
      }

      .button {
        margin-top: 32px;

        @media (min-width: 992px) {
          margin-top: 64px;
        }
      }
    }
  }

  .jumbo-footer {
    padding-top: 12px;

    @media (min-width: 768px) {
      text-align: center;
    }

    @media (min-width: 992px) {
      padding-top: 20px;
    }
  }
}
