section.pricing-studio-hero {
  p {
    @media (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 128px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-red);
      @include shape-xs(120px, -20%, 10%, auto, auto);
      @include shape-md(120px, -20%, -20%, auto, auto);
      @include shape-lg(240px, -20%, -30%, auto, auto);
      @include shape-xl(240px, -20%, -20%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-turquoise);
      @include shape-xs(64px, auto, auto, 15%, 10%);
      @include shape-sm(64px, auto, auto, 15%, 20%);
      @include shape-md(64px, auto, auto, 15%, 20%);
      @include shape-lg(128px, auto, auto, 15%, 20%);
      @include shape-xl(128px, auto, auto, 15%, 20%);
    }
  }
}
