section.index-showcase {
  .container {
    padding-top: 40px;

    @media (min-width: 992px) {
      padding-top: 60px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-green);
      @include shape-xs(120px, -120px, 10%, auto, auto);
      @include shape-md(120px, -40px, auto, auto, 30%);
      @include shape-lg(160px, -100px, auto, auto, 30%);
      @include shape-xl(200px, -100px, auto, auto, 30%);
    }
  }
}
