section.examples-intro {
  p {
    padding-bottom: 0px;
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-red);
      @include shape-xs(80px, auto, 5%, -60px, auto);
      @include shape-md(120px, auto, -20%, -80px, auto);
      @include shape-lg(180px, auto, -20%, -100px, auto);
      @include shape-xl(240px, auto, -20%, -200px, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-green);
      @include shape-xs(64px, -15%, auto, auto, 20%);
      @include shape-lg(96px, -15%, auto, auto, 20%);
    }
  }
}

