section.producthunt-jumbo {
  .jumbo-footer {
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-bottom: 160px;
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(64px, auto, auto, -140px, 10%);
      @include shape-md(64px, auto, auto, -120px, 15%);
      @include shape-lg(96px, auto, auto, -150px, 25%);
      @include shape-xl(96px, auto, auto, -160px, 35%);
    }
  }
}
