
$hamburger-layer-width: 20px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 4px !default;

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1001;
  height: $header-height-mobile;
  transition-property: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  display: flex;
  align-items: center;

  @media (min-width: 992px) {
    height: $header-height-desktop;
  }

  &.background {
    background-color: rgba(#fff, 0.94);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 2px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  &.opened {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  .header-horizontal {
    display: flex;
    justify-content: space-between;

    > div {
      padding-left: 15px;
      padding-right: 15px;
      z-index: 999;
      display: flex;
      align-items: center;
    }
  }

  .header-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo {
    width: 40px;
    transition: transform 0.2s ease-out;

    @media (min-width: 992px) {
      width: 44px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  nav {
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      margin-top: 32px;

      @media (min-width: 992px) {
        display: inline-block;
        margin-left: 16px;
        margin-top: 0px;
      }

      li {
        padding: 0px;
        border-bottom: 1px solid $splitter;

        @media (min-width: 992px) {
          display: inline-block;
          padding: 0px 5px;
          border-bottom: none;
        }

        a {
          display: block;
          color: $text-dark !important;
          font-size: 24px;
          font-weight: 500;
          letter-spacing: -0.4px;
          padding: 13px 0px;

          span {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              width: 0px;
              left: 0;
              bottom: 2px;
              height: 2px;
              transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
              opacity: 0;
              background-color: $text-dark;
            }
          }


          &:hover {
            text-decoration: underline;

            @media (min-width: 992px) {
              text-decoration: none;

              > span {
                &:after {
                  width: 100%;
                  opacity: 1;
                }
              }
            }
          }

          &.active {
            color: $palette-main !important;

            span {
              &:after {
                background-color: $palette-main !important;
              }
            }
          }

          @media (min-width: 992px) {
            display: inline-block;
            padding: 13px 10px;
            font-size: 16px;
          }
        }
      }
    }
  }

  .hamburger {
    display: inline-block;
    transition-property: opacity, filter;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    cursor: pointer;
    padding: 5px;
    margin-top: 4px;

    .hamburger-box {
      width: $hamburger-layer-width;
      height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
      display: inline-block;
      position: relative;
    }

    .hamburger-inner {
      display: block;
      top: $hamburger-layer-height / 2;
      margin-top: $hamburger-layer-height / -2;

      &,
      &::before,
      &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $text-dark;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease;
      }

      &::before,
      &::after {
        content: "";
        display: block;
      }

      &::before {
        top: $hamburger-layer-height + $hamburger-layer-spacing;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.5s;
      }

      &::after {
        top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
      }
    }

    &.opened {
      .hamburger-inner {
        $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

        transform: translate3d(0, $y-offset, 0) rotate(45deg);

        &::before {
          transform: rotate(-45deg)
            translate3d(
              $hamburger-layer-width / -7,
              $hamburger-layer-spacing * -1,
              0
            );
          opacity: 0;
        }

        &::after {
          transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
        }
      }
    }
  }

  .header-mobile-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(#fff, 0.94);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 998;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    padding-top: 60px;

    &.opened {
      height: 100%;
      opacity: 1;
    }

    .header-mobile-cta {
      margin-top: auto;
      padding-bottom: 24px;

      img {
        width: 80px;
        float: right;
        position: relative;
        bottom: -32px;
        z-index: 1;
      }

      a {
        display: block;
        margin-bottom: 16px;
      }

      .amsterdam {
        display: block;
        text-align: center;
      }
    }

  }

  &.template-dark {
    &.background {
      background-color: rgba($background-dark, 0.9);
    }

    nav {
      ul {
        li {
          border-color: $splitter-dark;

          a {
            color: #fff !important;

            span {
              &:before,
              &:after {
                background-color: #fff;
              }
            }
          }
        }
      }
    }

    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: #fff;
      }
    }

    .header-mobile-overlay {
      background-color: rgba($background-dark, 0.9);
    }
  }
}
