section.tutorial-article {
  .container {
    padding-top: 40px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 60px;
      padding-bottom: 108px;
    }

    @media (min-width: 1200px) {
      padding-top: 112px;
    }
  }
}
