section.tutorials-intro {
  .container {
    @media (min-width: 768px) {
      background-image: url(../images/tutorials/intro.svg);
      background-repeat: no-repeat;
      background-size: 220px;
      background-position: right bottom -2px;
    }

    @media (min-width: 992px) {
      background-size: 350px;
    }

    @media (min-width: 1200px) {
      background-size: 440px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-yellow);
      @include shape-xs(64px, -3%, 5%, auto, auto);
      @include shape-md(64px, -15%, 0%, auto, auto);
      @include shape-lg(128px, -20%, -2%, auto, auto);
      @include shape-xl(128px, -20%, -15%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-red);
      @include shape-xs(48px, auto, auto, 5%, 25%);
      @include shape-sm(48px, auto, auto, 5%, 25%);
      @include shape-md(48px, auto, auto, 10%, 35%);
      @include shape-lg(48px, auto, auto, 10%, 25%);
      @include shape-xl(48px, auto, auto, 10%, 25%);
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
