---
layout: default
---
{% if page.areas.size == 1 %}
  {% if page.areas contains "studio" %}
    {% assign area_name = "Studio" %}
  {% endif %}
  {% if page.areas contains "wordpress" %}
    {% assign area_name = "WordPress plugin" %}
  {% endif %}
{% endif %}

{% assign data_category = site.data.help-categories[page.category_id] %}

<section class="help-intro help-article-breadcrumb block-first">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-navigation">
          <a href="{{ page.base }}help/">Help Center</a>
          <i class="fas fa-chevron-right"></i>
          <div class="dropdown{% if page.areas.size > 1 %} d-none{% endif %}" id="help_breadcrumb_areas">
            <a role="button" class="dropdown-button" id="helpBreadcrumbProducts" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"><span id="help_breadcrumb_areas_name">{{ area_name }}</span><i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="helpBreadcrumbProducts">
              <a class="dropdown-item" href="{{ page.base }}help/studio/"><div>Tripetto Studio<small>at tripetto.app</small></div></a>
              <a class="dropdown-item" href="{{ page.base }}help/wordpress/"><div>Tripetto WP<small>WordPress plugin</small></div></a>
            </div>
          </div>
          <span class="palette-{{ page.category_id }}">{{ data_category.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="article-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <div class="row article-preface">
          <div class="col-12">
            {% if page.article_image %}
              <figure>
                <img src="{{ page.base }}images/help/{{ page.article_folder }}/{{ page.article_image }}" alt="Article intro image" />
                {% if page.article_image_caption %}
                <figcaption>{{ page.article_image_caption }}</figcaption>
                {% endif %}
              </figure>
            {% endif %}
            <small class="pills">
              <span class="palette-{{ page.category_id }} pill-splitter pill-splitter-after">{{ data_category.pill }}</span>{% if page.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ page.time }} Min.</span>{% endif %}{% if page.time_video > 0 %}<span><i class="fas fa-video"></i>{{ page.time_video }} Min.</span>{% endif %}
            </small>
            <h1>{{ page.article_title }}</h1>
            {{ page.excerpt }}
            <div class="author">{% include help-article-info.html author=page.author role=page.role avatar=page.avatar %}</div>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12{% if page.common_content_core != true %} article-content-core{% endif %}">{{ page.content | remove: page.excerpt }}</div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-4">
        <div class="article-side">
          <div class="article-side-splitter">
            <span>In this article</span>
            <ul class="article-table-of-contents"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="help-article-form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <h2>Help us improve</h2>
        <div id="TripettoRunner" class="runner-autoscroll-horizontal"></div>
      </div>
    </div>
  </div>
</section>

{% if page.areas.size > 1 %}
<script src="{{ page.base }}js/article-breadcrumb.js?v={{ site.cache_version }}"></script>
{% endif %}
<script src="{{ page.base }}js/article-table-of-contents.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}js/sticky.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}js/scroll.js?v={{ site.cache_version }}"></script>
<script src="https://unpkg.com/tripetto-runner-foundation"></script>
<script src="https://unpkg.com/tripetto-runner-autoscroll"></script>
<script src="https://unpkg.com/tripetto-services"></script>
<script>
var tripetto = TripettoServices.init({ token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoibFV6Q2ROWXVWYnEvcmZSRkxObERPQ25JcGtEV0VLbkRLUWlRUVNZSzRSMD0iLCJkZWZpbml0aW9uIjoiN1hmQWJiVXZqS05YdURnZ2ZWeUs1Qi9pblFZMEZQUXhDZWpNTDU2cDg3RT0iLCJ0eXBlIjoiY29sbGVjdCJ9.D8Sz-_pTg2t1ZRyycVglDrkWdz5KOS5pZ_HekO23lYI" });

TripettoAutoscroll.run({
    element: document.getElementById("TripettoRunner"),
    definition: tripetto.definition,
    styles: tripetto.styles,
    l10n: tripetto.l10n,
    locale: tripetto.locale,
    translations: tripetto.translations,
    attachments: tripetto.attachments,
    onSubmit: tripetto.onSubmit
});
</script>
