---
layout: default
---
{% assign data_category = site.data.help-categories[page.category_id] %}

{% if page.category_area == "studio" %}
{% assign area_name = "Studio" %}
{% assign area_name_inline = "studio" %}
{% assign area_search = "studio" %}
{% assign categories = site.page_help_studio_categories %}
{% endif %}

{% if page.category_area == "wordpress" %}
{% assign area_name = "WordPress plugin" %}
{% assign area_name_inline = "plugin" %}
{% assign area_search = "wordpress" %}
{% assign categories = site.page_help_wordpress_categories %}
{% endif %}

<section class="help-intro block-first">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="breadcrumb-navigation">
          <a href="{{ page.base }}help/">Help Center</a>
          <i class="fas fa-chevron-right"></i>
          <div class="dropdown">
            <a role="button" class="dropdown-button" id="helpBreadcrumbProducts" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">{{ area_name }}<i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="helpBreadcrumbProducts">
              <a class="dropdown-item" href="{{ page.base }}help/studio/"><div>Tripetto Studio<small>at tripetto.app</small></div></a>
              <a class="dropdown-item" href="{{ page.base }}help/wordpress/"><div>Tripetto WP<small>WordPress plugin</small></div></a>
            </div>
          </div>
          <div class="dropdown">
            <a role="button" class="dropdown-button active palette-{{ page.category_id }}" id="helpBreadcrumbCategories" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">{{ data_category.name }}<i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="helpBreadcrumbCategories">
              {% for category in categories %}
              {% assign data_category_menu = site.data.help-categories[category.category_id] %}
              <a href="{{ category.url }}" class="dropdown-item">
                <div>{% include icon-chapter.html chapter=category.category_id size='small' name=data_category_menu.name %}</div>
                <div>{{ data_category_menu.name }}</div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>{{ data_category.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <form action="{{ page.base }}help/{{ area_search }}/search/" method="get" class="help-search form-inline">
          <label class="sr-only" for="search-input">Search help articles for the {{ area_name_inline }}</label>
          <input type="text" name="q" class="form-input form-input-big" id="search-input" placeholder="Search help articles for the {{ area_name_inline }}" />
          <button class="button button-big"><i class="fas fa-search"></i><span>Search</span></button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr />
      </div>
    </div>
  </div>
</section>

<section class="help-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xl-8">
        <h2>Available articles</h2>
        <ul class="help-list">
          {% assign subcategory = "" %}
          {% assign articles = site.articles_help | where_exp: "item", "item.areas contains page.category_area and item.category_id == page.category_id" %}
          {% for article in articles %}
            {% if subcategory != article.subcategory %}
            {% assign subcategory = article.subcategory %}
            {% assign subcategory_item = site.data.help-subcategories[article.subcategory] %}
            <li class="help-list-subtitle"><h3 id="{{ subcategory_item.anchor }}">{{ subcategory_item.title }}</h3></li>
            {% endif %}
          <li>
            <div class="palette-{{ article.category_id }}" onclick="window.location='{{ article.url }}';">
              <a href="{{ article.url }}"><h3>{{ article.article_title }}</h3></a>
              <p>{{ article.description }}</p>
              <small class="pills">
                <span class="palette-{{ article.category_id }} pill-splitter pill-splitter-after">{{ data_category.pill }}</span>{% if article.time > 0 %}<span><i class="fas fa-file-alt"></i>{{ article.time }} Min.</span>{% endif %}{% if article.time_video > 0 %}<span><i class="fas fa-video"></i>{{ article.time_video }} Min.</span>{% endif %}
              </small>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-3 col-xl-4">
        <div class="article-side">
          <div class="article-side-splitter">
            <span>In this chapter</span>
            <ul class="article-table-of-contents">
              {% assign subcategory = "" %}
              {% assign articles = site.articles_help | where_exp: "item", "item.areas contains page.category_area and item.category_id == page.category_id" %}
              {% for article in articles %}
                {% if subcategory != article.subcategory %}
                {% assign subcategory = article.subcategory %}
                {% assign subcategory_item = site.data.help-subcategories[article.subcategory] %}
                <li class="level-1"><a href="#{{ subcategory_item.anchor }}">{{ subcategory_item.label }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ page.base }}js/sticky.js?v={{ site.cache_version }}"></script>
<script src="{{ page.base }}js/scroll.js?v={{ site.cache_version }}"></script>
