section.black-friday-deals {
  > .container {
    padding-top: 64px;

    > .row {
      justify-content: center;

      .align-center {
        text-align: center;

        h2 {
          font-size: 32px;
          padding-bottom: 32px;

          @media (min-width: 768px) {
            font-size: 48px;
          }

          @media (min-width: 992px) {
            font-size: 64px;
          }
        }

        p {
          font-size: 20px;
          padding-bottom: 40px;

          @media (min-width: 992px) {
            font-size: 24px;
          }
        }

        .hyperlink {
          margin-top: 64px;
          margin-bottom: 120px;
        }
      }
    }
  }

  .premium-plan {
    padding-top: 24px;

    > div {
      background-color: $palette-yellow;
      color: $text-dark;
      padding: 24px 15px;
      border-radius: 8px;

      @media (min-width: 768px) {
        padding: 24px;
      }

      @media (min-width: 992px) {
        padding: 32px;
      }

      h3 {
        font-size: 40px;
        letter-spacing: -2px;
        line-height: 1em;

        @media (min-width: 1200px) {
          font-size: 48px;
        }
      }

      h4 {
        font-size: 24px;
        letter-spacing: -2px;
        line-height: 1em;

        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }

      p {
        font-weight: 600;
        color: $palette-purple;
        padding-top: 8px;

        @media (min-width: 992px) and (max-width: 1199px) {
          font-size: 14px;
        }
      }

      .pricing-price {
        padding-top: 24px;

        @media (min-width: 992px) {
          padding-top: 46px;
        }
      }

      ul.pricing-features {
        padding-top: 16px;

        @media (min-width: 992px) {
          padding-top: 32px;
        }
      }

      small {
        display: block;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        padding-top: 16px;
        opacity: 0.48;

        .switch {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      div.purchase {
        padding-top: 24px;
        text-align: center;

        @media (min-width: 992px) {
          padding-top: 48px;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}
