section.wordpress-showcase {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 192px;
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 48px;
      }
    }

    .hyperlink {
      margin-top: 32px;

      @media (min-width: 992px) {
        margin-top: 48px;
      }
    }

    .shape-before {
      &:before {
        @include shape(diamond, $palette-red);
        @include shape-xs(32px, -10%, 40px, auto, auto);
        @include shape-md(32px, -10%, 5%, auto, auto);
        @include shape-lg(64px, -10%, -30px, auto, auto);
        @include shape-xl(64px, -10%, -100px, auto, auto);
      }
    }

    .shape-after {
      &:after {
        @include shape(circle, $palette-purple);
        @include shape-xs(120px, 24px, auto, auto, 40%);
        @include shape-md(120px, 24px, auto, auto, 40%);
        @include shape-lg(160px, 16px, auto, auto, 40%);
        @include shape-xl(160px, 24px, auto, auto, 40%);
      }
    }
  }

  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 100px;
    }
  }

  .row-showcase {
    .shape-before {
      &:before {
        @include shape(circle, $palette-purple);
        @include shape-xs(100px, auto, auto, -120px, 10%);
        @include shape-md(100px, auto, auto, -120px, 10%);
        @include shape-lg(200px, auto, auto, -220px, 10%);
        @include shape-xl(200px, auto, auto, -220px, 10%);
      }
    }

    .shape-after {
      &:after {
        @include shape(diamond, $palette-red);
        @include shape-xs(40px, auto, auto, -70px, 50%);
        @include shape-md(40px, auto, auto, -70px, 50%);
        @include shape-lg(64px, auto, auto, -88px, 50%);
        @include shape-xl(64px, auto, auto, -88px, 50%);
      }
    }
  }
}
