section.calculator-features {
  .calculator-features-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: 992px) {
      padding-right: 12px;
    }

    @media (min-width: 1200px) {
      padding-right: 24px;
    }
  }

  .calculator-features-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 992px) {
      margin-top: 192px;
      padding-left: 12px;
    }

    @media (min-width: 1200px) {
      padding-left: 24px;
    }
  }

  .calculator-feature-primary {
    width: 100%;
    padding: 24px 16px;
    border-radius: 16px;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      padding: 24px;
    }

    @media (min-width: 992px) {
      margin-bottom: 24px;
      padding: 36px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 48px;
      padding: 48px;
    }

    h2 {
      font-size: 36px;
      letter-spacing: -2px;
      line-height: 1em;

      @media (min-width: 992px) {
        font-size: 44px;
      }

      @media (min-width: 1200px) {
        font-size: 48px;
      }
    }

    p {
      font-size: 18px;
      line-height: 1.5em;
      padding-top: 16px;
    }

    small {
      display: block;
      padding-top: 32px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6em;
      opacity: 0.64;

      @media (min-width: 1200px) {
        width: 94%;
      }
    }

    &.palette-dark {
      background-color: $palette-dark;
      color: #fff;
    }

    &.palette-red {
      background-color: $palette-red;
      color: #fff;
    }

    &.palette-yellow {
      background-color: $palette-yellow;
      color: $palette-dark;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      padding-top: 32px;

      li {
        display: inline-block;
        padding: 0px;
        margin-right: 8px;
        text-align: center;

        @media (min-width: 992px) {
          margin-right: 16px;
        }

        &:last-child {
          margin-right: 0px;
        }

        img {
          width: 52px;
          height: 52px;

          @media (min-width: 768px) {
            width: 60px;
            height: 60px;
          }

          @media (min-width: 1200px) {
            width: 72px;
            height: 72px;
          }
        }

        h3 {
          display: block;
          font-size: 13px;
          font-weight: 600;
          margin-top: 8px;
        }

        i {
          position: relative;
          top: 2px;
        }
      }

      &.visual-steps {
        li {
          margin-right: 13px;
        }
      }
    }
  }

  .calculator-feature-secondary {
    width: 100%;
    padding: 24px 16px;
    border-radius: 16px;
    background-color: $palette-light;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      padding: 24px;
    }

    @media (min-width: 992px) {
      margin-bottom: 24px;
      padding: 32px 36px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 48px;
      padding: 32px 48px;
    }

    .calculator-feature-secondary-visual {
      @media (min-width: 992px) {
        padding: 24px 48px 32px 48px;
      }
    }

    img {
      width: auto;
      height: 56px;
      margin-bottom: 28px;

      @media (min-width: 992px) {
        height: 72px;
      }
      @media (min-width: 1200px) {
        height: 80px;
      }

      &.multiple-calculators {
        height: 60px;

        @media (min-width: 992px) {
          height: 78px;
        }
        @media (min-width: 1200px) {
          height: 89px;
        }
      }
    }

    h2 {
      font-size: 30px;
      letter-spacing: -1px;
      line-height: 1.2em;
    }

    p {
      font-size: 18px;
      line-height: 1.5em;
      padding-top: 16px;
    }

    p + p {
      padding-top: 10px;
    }

    &.size-small {
      @media (min-width: 992px) {
        width: 85%;
      }

      @media (min-width: 1200px) {
        width: 77%;
      }
    }

    &.size-medium {
      @media (min-width: 992px) {
        width: 92%;
      }

      @media (min-width: 1200px) {
        width: 87%;
      }
    }
  }

  .calculator-feature-payoff {
    display: none;

    @media (min-width: 992px) {
      display: block;
      font-family: $font-secondary;
      color: $palette-red;
      font-size: 30px;
      line-height: 0.9em;
      text-align: right;
      width: 70%;
      padding-top: 16px;

      @media (min-width: 1200px) {
        width: 75%;
        font-size: 36px;
        padding-top: 0px;
      }
    }
  }
}
