section.calculator-intro {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 992px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @media (min-width: 1200px) {
      padding-top: 112px;
      padding-bottom: 210px;
    }

    .row {
      @media (min-width: 992px) {
        position: relative;

        &:after {
          content: "";
          background-image: url(../images/calculator/intro.svg);
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: bottom right;
          position: absolute;
          z-index: -1;
          right: 70px;
          bottom: -293px;
          width: 360px;
          height: 480px;

          @media (min-width: 1200px) {
            bottom: -403px;
            right: 96px;
            width: 480px;
            height: 640px;
          }
        }
      }
    }
  }

  h1 {
    font-size: 40px;
    line-height: 1em;
    letter-spacing: -2px;

    @media (min-width: 992px) {
      font-size: 72px;
      letter-spacing: -3px;
    }

    @media (min-width: 1200px) {
      font-size: 80px;
    }

    > span {
      display: block;
      color: $palette-logic;
    }
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
    padding-top: 32px;

    @media (min-width: 992px) {
      width: 94%;
      font-size: 24px;
      padding-top: 48px;
    }

    @media (min-width: 1200px) {
      font-size: 28px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-red);
      @include shape-xs(120px, -50px, 10%, auto, auto);
      @include shape-lg(200px, -70px, 140px, auto, auto);
      @include shape-xl(280px, -80px, 140px, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(64px, auto, auto, -30px, 10%);
      @include shape-lg(96px, auto, auto, -50px, 20%);
      @include shape-xl(160px, auto, auto, -90px, 20%);
    }
  }
}
