---
permalink: /typeform-alternative/
base: ../
title: Tripetto - A free Typeform alternative without Typeform's restrictions
description: Tripetto is for making smart forms and surveys. A free Typeform alternative, but without the paywalls and restrictions that Typeform has nowadays.
attention: true
---

<section class="alternative-intro block-first">
    <div class="container">
        <div class="row">
            <div class="col">
                {% include alternatives-breadcrumb.html selected='Typeform' %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-9 shape-before">
                <h1>A formidable Typeform alternative without the annoying paywalls.</h1>
                <p class="intro">Typeform's free version is so limited nowadays, it forces you to upgrade to a paid plan for almost every meaningful feature 😟.</p>
                <p class="description shape-after">We admit Tripetto isn’t as polished as Typeform yet, but it offers the same question types and much more advanced logic. Plus, it’s free. We’re working really hard to make it the best form builder you can find. <strong>Why don’t you give Tripetto a try and tell us what you think?</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr />
            </div>
        </div>
    </div>
</section>

<section class="alternative-comparison" id="compare">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Typeform&nbsp;&nbsp;⚔️&nbsp;&nbsp;Tripetto</h2>
                <p>A quick comparison of the free plans of Typeform and Tripetto.</p>
            </div>
        </div>
        <div class="row">
           <div class="col-12">
                <div class="compare">
                    <div class="row">
                        <div class="col-6 col-md-3 offset-md-6 column-title">Typeform<span>Free plan</span></div>
                        <div class="col-6 col-md-3 column-title"><img src="{{ page.base }}images/tripetto-logo.svg" alt="Logo Tripetto"/>Tripetto<span>Free plan</span></div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Create conversational forms</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="far fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Share forms with a link</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="far fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Embed forms in website</div>
                        <div class="col-6 col-md-3 compare-neutral"><i class="far fa-check-circle fa-fw"></i> Yes</div>
                        <div class="col-6 col-md-3 compare-neutral compare-bold"><i class="fas fa-check-circle fa-fw"></i> Yes</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of forms</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-arrow-alt-circle-down fa-fw"></i> Only 3 max</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of questions per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-arrow-alt-circle-down fa-fw"></i> Only 10 max</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of logic jumps per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-arrow-alt-circle-down fa-fw"></i> None at all</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                        <div class="col-12 col-md-6 row-title">Number of responses per form</div>
                        <div class="col-6 col-md-3 compare-negative"><i class="far fa-arrow-alt-circle-down fa-fw"></i> Only 100 max</div>
                        <div class="col-6 col-md-3 compare-positive compare-bold"><i class="fas fa-arrow-alt-circle-up fa-fw"></i> Unlimited</div>
                        <div class="w-100"></div>
                    </div>
                </div>
           </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="hyperlinks">
                    <li><a href="{{ page.base }}product/" class="hyperlink hyperlink-small"><span>Take the product tour</span><i class="fas fa-arrow-right"></i></a></li>
                    <li><a href="{{ page.base }}examples/" class="hyperlink hyperlink-small"><span>See example forms</span><i class="fas fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% include cta.html %}
