---
base: ../
permalink: /help/
title: Help Center - Tripetto
description: Things not working right? The help center offers how-to’s, video tutorials and FAQ’s.
---

{% assign blocks = site.page_help %}
{% for block in blocks %}
    {{ block.content }}
{% endfor %}

<script src="{{ page.base }}js/tiles.js?v={{ site.cache_version }}"></script>
<script>
window.localStorage.removeItem('tripetto_help_area');
</script>
