---
permalink: /subscribe/confirmation/
base: ../../
title: Subscription confirmed - Stay Tuned - Tripetto
description: Thanks for subscribing. We've added you to our mailinglist.
sitemap: false
subscribe: false
---

<section class="block-first intro mailinglist subscribe-confirmation">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 shape-before shape-after">
        <h1>You’re In</h1>
        <p><strong>Your subscription to Tripetto updates is confirmed.</strong> We’ll only reach out to you when we do significant releases or with important news.</p>
        <small>You can <a href="{{ page.base }}unsubscribe/">unsubscribe</a> at any time.</small>
      </div>
    </div>
  </div>
</section>
