---
permalink: /unsubscribe/
base: ../
title: Unsubscribe - Stay Tuned - Tripetto
description: Don't want to receive our newsletter any more? Unsubscribe from our newsletter.
subscribe: false
---

<section class="block-first intro mailinglist unsubscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 shape-before shape-after">
        <h1>Unsubscribe</h1>
        <p><strong>We’re sorry to see you leave.</strong> If you're sure, enter your email address below to unsubscribe right now. Please feel free to come back in the future.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <form action="https://tripetto.us16.list-manage.com/unsubscribe/post" method="post" target="_blank" class="form-inline">
          <input type="hidden" name="u" value="6eddefde72cc0b876c8b7b1f9">
          <input type="hidden" name="id" value="f79a61bb9a">
          <label class="sr-only" for="EMAIL">Email address to subscribe</label>
          <input type="email" name="EMAIL" class="form-input form-input-placeholder" id="EMAIL" placeholder="Type your email">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6eddefde72cc0b876c8b7b1f9_f79a61bb9a" tabindex="-1" value="" /></div>
          <button type="submit" class="button button-wide">Unsubscribe</button>
        </form>
        <small>Problems unsubscribing? <a href="{{ page.base }}contact/">Let us know</a>.</small>
      </div>
    </div>
  </div>
</section>
