---
permalink: /subscribe/verify/
base: ../../
title: Verify your subscription - Stay Tuned - Tripetto
description: Thanks for subscribing. Confirm your subscription in your mailbox.
sitemap: false
subscribe: false
---

<section class="block-first intro mailinglist subscribe-verify">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 shape-before shape-after">
        <h1>Almost Set</h1>
        <p><strong>Please confirm your subscription.</strong> Check out the mail we just sent you and click the confirmation link. We’ll take it from there.</p>
        <small>After submitting you'll receive a mail to verify your email address.<br/>You can <a href="{{ page.base }}unsubscribe/">unsubscribe</a> at any time.</small>
      </div>
    </div>
  </div>
</section>
