<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M9.5 11c-3 0-5.5-2.5-5.5-5.5s2.5-5.5 5.5-5.5 5.5 2.5 5.5 5.5-2.5 5.5-5.5 5.5zM9.5 1c-2.5 0-4.5 2-4.5 4.5s2 4.5 4.5 4.5c2.5 0 4.5-2 4.5-4.5s-2-4.5-4.5-4.5z"/><path d="M17.5 20h-16c-0.8 0-1.5-0.7-1.5-1.5 0-0.1 0-1.7 1.2-3.3 0.7-0.9 1.7-1.7 2.9-2.2 1.5-0.7 3.3-1 5.4-1s3.9 0.3 5.4 1c1.2 0.5 2.2 1.3 2.9 2.2 1.2 1.6 1.2 3.2 1.2 3.3 0 0.8-0.7 1.5-1.5 1.5zM9.5 13c-3.5 0-6.1 1-7.4 2.8-1 1.4-1.1 2.7-1.1 2.7 0 0.3 0.2 0.5 0.5 0.5h16c0.3 0 0.5-0.2 0.5-0.5 0 0 0-1.4-1.1-2.7-1.4-1.8-4-2.8-7.4-2.8z"/></svg>
