<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M9.5 20c-2.5 0-4.9-1-6.7-2.8s-2.8-4.2-2.8-6.7c0-0.3 0.2-0.5 0.5-0.5s0.5 0.2 0.5 0.5c0 4.7 3.8 8.5 8.5 8.5s8.5-3.8 8.5-8.5-3.8-8.5-8.5-8.5c-0.3 0-0.5-0.2-0.5-0.5s0.2-0.5 0.5-0.5c2.5 0 4.9 1 6.7 2.8s2.8 4.2 2.8 6.7-1 4.9-2.8 6.7c-1.8 1.8-4.2 2.8-6.7 2.8z"/><path d="M9.5 4c-0.3 0-0.5 0.2-0.5 0.5v4.8l-8.1-8.1c-0.2-0.2-0.5-0.2-0.7 0s-0.2 0.5 0 0.7l8.1 8.1h-4.8c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5h6c0.3 0 0.5-0.2 0.5-0.5v-6c0-0.3-0.2-0.5-0.5-0.5z"/></svg>
