section.unsubscribe-form {
  .shape-before {
    &:before {
      @include shape(circle, $palette-blue);
      @include shape-xs(100px, -8%, auto, auto, 10%);
      @include shape-sm(100px, -8%, auto, auto, 20%);
      @include shape-md(100px, -4%, auto, auto, 15%);
      @include shape-lg(200px, -15%, auto, auto, 15%);
      @include shape-xl(200px, -10%, auto, auto, 15%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-red);
      @include shape-xs(64px, auto, 10%, 5%, auto);
      @include shape-md(64px, auto, -10%, 0%, auto);
      @include shape-lg(96px, auto, -10%, 0%, auto);
      @include shape-xl(96px, auto, -10%, 0%, auto);
    }
  }
}
