section.developers-customization {
  padding-bottom: 60px;

  @media (min-width: 992px) {
    padding-bottom: 104px;
  }

  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 64px;
      }
    }
  }

  .container-customization {
    padding-top: 24px;
    display: flex;
    align-items: stretch;

    @media (min-width: 992px) {
      padding-top: 32px;
    }

    .customization {
      padding-top: 32px;

      p {
        padding-top: 8px;

        @media (min-width: 992px) {
          padding-top: 24px;
        }

        @media (min-width: 1200px) {
          width: 80%;
        }
      }

      ul {
        margin-top: 16px;

        @media (min-width: 992px) {
          margin-top: 32px;
        }
      }
    }
  }
}
