section.developers-runners {
  .container-content {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }

    p {
      padding-top: 32px;

      @media (min-width: 992px) {
        padding-top: 64px;
      }
    }
  }

  .container-runners {
    padding-top: 24px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    .runner {
      padding-top: 32px;

      div {
        display: flex;
        align-items: center;

        h3 {
          margin-left: 16px;
          line-height: 0.9em;

          @media (min-width: 992px) {
            margin-left: 24px;
          }
        }
      }

      p {
        padding-top: 8px;

        @media (min-width: 992px) {
          padding-top: 24px;
        }

        @media (min-width: 1200px) {
          width: 80%;
        }
      }

      ul {
        padding-top: 16px;

        @media (min-width: 992px) {
          padding-top: 32px;
        }
      }
    }
  }

  .container-carousel {
    padding-top: 60px;

    @media (min-width: 992px) {
      padding-top: 88px;
    }

    .carousel-slides {
      .carousel-item {
        img {
          max-width: 100%;
        }
      }
    }

    .runners-switch {
      display: flex;
      justify-content: center;
      padding-top: 16px;

      @media (min-width: 992px) {
        padding-top: 32px;
      }

      ul.carousel-buttons {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
          display: inline-block;
          border: 2px solid $palette-sdk;
          color: $palette-sdk;
          font-size: 16px;
          font-weight: 500;
          line-height: 1em;
          padding: 10px 16px;
          text-align: center;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;

          @media (min-width: 768px) {
            min-width: 160px;
            font-size: 18px;
            padding: 13px 32px;
          }

          &.active {
            background-color: $palette-sdk;
            color: #fff;
          }

          &.carousel-button-left {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-right: 0;
          }

          &.carousel-button-right {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-left: 0;
          }
        }
      }
    }

    .runners-footer {
      display: flex;
      justify-content: center;
      padding-top: 12px;

      small {
        text-align: center;
        display: block;
        font-size: 13px;
        color: $text-dark-48;
        letter-spacing: -0.3px;

        @media (min-width: 992px) {
          padding-top: 12px;
        }
      }
    }
  }
}
