section.launch-platforms {
  .container {
    padding-bottom: 80px;

    img {
      max-width: 100%;
      max-height: 140px;

      @media (min-width: 992px) {
        max-height: 100%;
      }
    }
  }

  .launch-platform-images {
    display: flex;
    align-items: flex-end;
  }

  .launch-platform-left {
    text-align: left;

    img {
      @media (min-width: 1200px) {
        margin-left: 24px;
      }
    }
  }

  .launch-platform-right {
    text-align: right;
  }

  .launch-platform-center {
    display: flex;
    justify-content: center;
  }

  .launch-platform-hint {
    &:before {
      content: "WordPressers go here";
      text-align: left;
      display: none;
      font-family: $font-secondary;
      color: $palette-red;
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 0.8em;
      transform: rotate(9deg);
      position: absolute;
      width: 140px;
      height: 96px;
      background-image: url(../images/launch/hint.svg);
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: bottom right;

      @media (min-width: 992px) {
        display: inline-block;
        left: 40px;
        top: -124px;
      }

      @media (min-width: 1200px) {
        left: 64px;
        top: -124px;
      }
    }
  }
}
