.article-side {
  display: none;
  padding-top: 80px;

  @media (min-width: 992px) {
    display: block;
  }

  &.article-side-sticky {
    position: sticky;
    top: 82px;
  }

  .article-side-splitter {
    padding: 8px 0px 8px 16px;
    border-left: 1px solid $splitter-light;

    @media (min-width: 1200px) {
      margin-left: 60px;
      padding-left: 32px;
    }
  }

  ul.article-table-of-contents {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      line-height: 1.2em;

      &:first-child {
        padding-top: 0px !important;
      }

      &.level-1 {
        padding-top: 12px;

        a {
          font-size: 16px;
          font-weight: 600;
          color: $text-dark-64;
        }
      }

      &.level-2 {
        padding-top: 2px;

        a {
          font-size: 14px;
          font-weight: 500;
          color: $text-dark-48;
        }
      }

      &.active {
        a {
          color: $text-dark;
        }
      }
    }
  }

  span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
  }

  a.share {
    margin: 0px 8px;

    i {
      transition: transform 0.2s ease-out;
      font-size: 24px;

      @media (min-width: 1200px) {
        font-size: 30px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &.twitter {
      color: $twitter;
    }

    &.facebook {
      color: $facebook;
    }

    &.linkedin {
      color: $linkedin;
    }

    &.whatsapp {
      color: $whatsapp;
    }
  }
}
