a.attention {
    padding: 12px 8px;
    font-size: 16px;
    text-align: left;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 2px;
    position: fixed;
    left: 15px;
    bottom: 14px;
    right: 88px;
    white-space: normal;
    z-index: 999;
    transition-property: bottom;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    background-color: $palette-producthunt;
    color: #fff;

    span {
      display: inline-block;
      margin-left: 8px;
      margin-right: 8px;
      text-decoration: none !important;
    }

    &:hover {
      text-decoration: underline;
    }

    @media (min-width: 576px) {
      right: 96px;
      bottom: 20px;
    }

    @media (min-width: 768px) {
      width: auto;
      text-align: center;
      font-size: 20px;
      padding: 20px 40px;
      white-space: nowrap;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }

    &.attention-out {
      bottom: -140px;
    }
  }
