div.breadcrumb-navigation {
  @mixin breadcrumb-color($color) {
    color: $color;
  }

  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em;
  padding-bottom: 16px;

  @media (min-width: 992px) {
    font-size: 22px;
    padding-bottom: 32px;
  }

  > a {
    text-decoration: none;
    color: $text-dark-48;

    &:hover {
      text-decoration: underline;
    }
  }

  i.fas {
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
    top: -1px;

    @media (min-width: 992px) {
      font-size: 16px;
      margin-left: 8px;
      margin-right: 8px;
    }

    &.fa-chevron-right {
      color: $text-dark-48;
    }
  }

  > span {
    color: $palette-main;

    &.palette-basics {
      @include breadcrumb-color($palette-basics);
    }

    &.palette-build {
      @include breadcrumb-color($palette-build);
    }

    &.palette-customization {
      @include breadcrumb-color($palette-customization);
    }

    &.palette-logic {
      @include breadcrumb-color($palette-logic);
    }

    &.palette-automations {
      @include breadcrumb-color($palette-automations);
    }

    &.palette-sharing {
      @include breadcrumb-color($palette-sharing);
    }

    &.palette-hosting {
      @include breadcrumb-color($palette-hosting);
    }
  }

  > div.dropdown {
    display: inline-block;

    .dropdown-button {
      color: $text-dark-48;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        opacity: 1;
        color: $palette-main;

        &.palette-basics {
          @include breadcrumb-color($palette-basics);
        }

        &.palette-build {
          @include breadcrumb-color($palette-build);
        }

        &.palette-customization {
          @include breadcrumb-color($palette-customization);
        }

        &.palette-logic {
          @include breadcrumb-color($palette-logic);
        }

        &.palette-automations {
          @include breadcrumb-color($palette-automations);
        }

        &.palette-sharing {
          @include breadcrumb-color($palette-sharing);
        }

        &.palette-hosting {
          @include breadcrumb-color($palette-hosting);
        }
      }
    }

    .dropdown-menu {
      padding: 8px 16px;
      margin-top: 8px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;

      .dropdown-item {
        color: $text-dark;
        padding: 8px 4px 8px 0px;
        line-height: 1.2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid $splitter-light;
        font-weight: 600;

        @media (min-width: 992px) {
          min-width: 224px;
        }

        small {
          display: block;
          font-size: 12px;
          font-weight: 500;
        }

        &:last-child {
          border-bottom: none;
        }

        .icon-chapter,
        .icon-product,
        .icon-alternative {
          transition: transform 0.2s ease-out;
          margin-right: 16px;
        }

        .icon-alternative {
          width: 32px;
          height: 32px;
        }

        &:hover,
        &:active {
          background-color: transparent;
          text-decoration: none;
          color: $text-dark;

          .icon-chapter,
          .icon-product,
          .icon-alternative {
            transform: scale(1.05);
          }
        }
      }

      .dropdown-title {
        font-size: 20px;
        color: $text-dark;
        display: block;
        white-space: nowrap;
        padding: 8px 8px 8px 0px;
        font-weight: 700;
        border-bottom: 1px solid $splitter-light;

        &.dropdown-title-padding {
            padding-top: 32px;
        }
      }
    }

    &.show {
      .dropdown-button {
        text-decoration: underline;
      }
    }
  }
}
