.button {
  display: inline-block;
  padding: 13px 21px;
  background-color: $palette-main;
  border: 2px solid $palette-main;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none !important;
  outline: none !important;
  transition: background-color 0.2s ease-out;
  text-align: center;
  cursor: pointer;

  &.button-outline {
    background-color: transparent;
    color: $palette-main;
  }

  &.button-wide {
    padding-left: 32px;
    padding-right: 32px;
  }

  &.button-full {
    display: inline-block;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35);
  }

  &:hover {
    background-color: lighten($palette-main, 2%);
    color: #fff;
  }

  img {
    height: 24px;
    margin-right: 14px;
  }

  i {
    margin-right: 14px;
  }

  i.fa-search {
    margin-right: 6px;
  }

  &.button-small {
    font-size: 18px;
    letter-spacing: -0.4px;
    padding: 10px 21px;
  }

  &.button-big {
    @media (min-width: 992px) {
      font-size: 22px;
      letter-spacing: -0.55px;
      padding: 18px 31px 17px 31px;
    }
  }

  &.button-margin {
    margin: 4px;
  }

  &.button-red {
    background-color: $palette-red;
    border-color: $palette-red;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(250, 58, 105, 0.35);
    }

    &:hover {
      background-color: lighten($palette-red, 2%);
    }
  }
}
