span.caption {
  display: inline-block;
  font-family: $font-secondary;
  font-size: 32px;
  color: $text-red;
  letter-spacing: -3px;
  line-height: 1em;

  @media (min-width: 992px) {
    font-size: 48px;
  }

  &.caption-small {
    font-size: 30px;
    letter-spacing: -1px;
  }

  &.caption-rotated {
    transform: rotate(-3deg);
  }
}
