section.cta {
  border-top: 1px solid $splitter;

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 204px;
      padding-bottom: 192px;
    }
  }

  .cta-row {
    display: flex;
    justify-content: center;
    text-align: center;

    small {
      display: inline-block;
      font-family: $font-secondary;
      font-size: 28px;
      color: $palette-red;
      line-height: 1em;
      transform: rotate(-3deg);
      padding-bottom: 16px;

      @media (min-width: 768px) {
        font-size: 32px;
      }

      @media (min-width: 992px) {
        font-size: 40px;
        padding-bottom: 24px;
      }
    }

    h2 {
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-bottom: 64px;
      }

      span {
        color: $palette-main;
      }
    }
  }

  &.template-dark {
    border-color: $splitter-dark;
  }
}
