.icon-face {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: 8px;

    @media (min-width: 992px) {
      font-size: 16px;
      top: 16px;
      font-weight: 500;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    height: 60%;
  }

  &.icon-face-autoscroll {
    background-color: $palette-autoscroll;

    img {
      bottom: 0;
      max-width: 100%;
      height: 64%;
    }
  }

  &.icon-face-chat {
    background-color: $palette-chat;

    img {
      bottom: 0;
      max-width: 100%;
      height: 64%;
    }
  }

  &.icon-face-classic {
    background-color: $palette-classic;

    img {
      top: 10%;
      right: 0;
      height: 80%;
    }
  }

  &.icon-face-medium {
    width: 72px;
    height: 72px;

    @media (min-width: 992px) {
      width: 96px;
      height: 96px;
    }

    span {
      font-size: 12px;
      top: 8px;

      @media (min-width: 992px) {
        top: 12px;
      }
    }
  }

  &.icon-face-big {
    width: 72px;
    height: 72px;

    @media (min-width: 992px) {
      width: 128px;
      height: 128px;
    }
  }

  &.icon-face-xl {
    width: 128px;
    height: 128px;

    @media (min-width: 992px) {
      width: 160px;
      height: 160px;
    }

    span {
      font-size: 16px;

      @media (min-width: 992px) {
        font-size: 22px;
      }
    }
  }

  &.icon-face-background {
    background-repeat: no-repeat;

    &.icon-face-autoscroll {
      background-image: url(../images/icons-faces/autoscroll-background.svg);
      background-size: auto 100%;
      background-position: center top;
    }

    &.icon-face-chat {
      background-image: url(../images/icons-faces/chat-background.svg);
      background-size: 80% auto;
      background-position: center 16%;
    }

    &.icon-face-classic {
      background-image: url(../images/icons-faces/classic-background.svg);
      background-size: 60% auto;
      background-position: center center;
    }
  }

  &.icon-face-developers {
    background-color: $palette-yellow;
    border-radius: 16px;
  }
}
