small.pills {
  @mixin pill-color($background, $border, $text) {
    background-color: $background;
    border-color: $border;
    color: $text;
  }

  display: block;
  margin-top: auto;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;

  span,a {
    display: inline-block;
    background-color: #dfe4ea;
    margin-top: 8px;
    margin-right: 8px;
    padding: 5px 9px;
    border-radius: 13px;
    border: 1px solid #dfe4ea;

    i {
      margin-right: 6px;
    }

    &.palette-light {
      @include pill-color($background-light, $background-light, $text-dark);
    }

    &.palette-basics {
      @include pill-color($palette-basics, $palette-basics, #fff);
    }

    &.palette-build {
      @include pill-color($palette-build, $palette-build, #fff);
    }

    &.palette-customization {
      @include pill-color($palette-customization, $palette-customization, #fff);
    }

    &.palette-logic {
      @include pill-color($palette-logic, $palette-logic, #fff);
    }

    &.palette-automations {
      @include pill-color($palette-automations, $palette-automations, #fff);
    }

    &.palette-sharing {
      @include pill-color($palette-sharing, $palette-sharing, #fff);
    }

    &.palette-hosting {
      @include pill-color($palette-hosting, $palette-hosting, #fff);
    }

    &.palette-studio {
      @include pill-color($palette-studio, $palette-studio, #fff);
    }

    &.palette-wordpress {
      @include pill-color($palette-wordpress, $palette-wordpress, $text-dark);
    }

    &.palette-sdk {
      @include pill-color(#fff, $palette-sdk, $palette-sdk);
    }

    &.palette-launch {
      @include pill-color($palette-red, $palette-red, #fff);
    }

    &.palette-new {
      @include pill-color($palette-purple, $palette-purple, #fff);
    }

    &.palette-improvement {
      @include pill-color($palette-blue, $palette-blue, #fff);
    }

    &.palette-bugfix {
      @include pill-color($palette-turquoise, $palette-turquoise, #fff);
    }

    &.palette-development {
      @include pill-color($palette-yellow, $palette-yellow, #fff);
    }

    &.pill-splitter {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #dfe4ea;
        bottom: 9px;
      }

      &.pill-splitter-after {
        margin-right: 20px;

        &:after {
          right: -13px;
        }
      }

      &.pill-splitter-before {
        &:after {
          display: none;
        }

        @media (min-width: 576px) {
          margin-left: 12px;

          &:after {
            display: inline-block;
            left: -13px;
          }
        }
      }
    }
  }

  div.pill-break {
    @media (min-width: 576px) {
      display: none;
    }
  }
}
