.platform-holder {
  text-align: center;
}

.platform {
  padding: 48px 32px;
  border-radius: 8px;
  margin-bottom: 24px;

  @media (min-width: 1200px) {
    max-width: 480px;
  }

  &.palette-studio {
    background-color: $palette-studio;
    color: #fff;
  }

  &.palette-wordpress {
    background-color: $palette-wordpress;
  }

  &.platform-clickable {
    cursor: pointer;
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.01);
    }
  }

  h2 {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 1.2em;

    @media (min-width: 992px) {
      font-size: 64px;
      letter-spacing: -3px;
    }
  }

  p {
    opacity: 0.64;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding-top: 32px;
    padding-left: 0;
    margin: 0;

    li {
      display: block;
      padding-top: 7px;
      padding-bottom: 7px;

      h3 {
        font-size: 18px;
        font-weight: 400;
      }

      &:first-child {
        h3 {
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
  }

  .platform-image {
    padding-top: 32px;

    img {
      max-width: 100%;

      @media (min-width: 768px) {
        max-height: 190px;
      }

      @media (min-width: 992px) {
        max-height: 230px;
      }
    }
  }

  .platform-buttons {
    padding-top: 64px;
  }

  .platform-buttons-multiple {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    a,
    span {
      @media (min-width: 768px) {
        width: 48%;
      }

      &.button-wordpress-purchase {
        margin-top: 16px;

        @media (min-width: 768px) {
          margin-top: 0px;
        }
      }
    }
  }
}

.platform-hyperlinks {
  padding-bottom: 40px;

  @media (min-width: 1200px) {
    max-width: 480px;
  }
}
