section.reviews {
  .ticker-reviews {
    li {
      padding: 0px 12px;

      @media (min-width: 992px) {
        padding: 0px 16px;
      }

      > div {
        width: 300px;
        height: 340px;
        padding: 24px;
        border-radius: 16px;
        background-color: $palette-main;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: transform 0.2s ease-out;

        @media (min-width: 992px) {
          width: 560px;
          height: 320px;
          padding: 32px 40px;
        }

        &:hover {
          transform: scale(1.01);
        }

        &.review-palette-purple {
          background-color: $palette-purple;
        }

        &.review-palette-blue {
          background-color: $palette-blue;
        }

        &.review-palette-turquoise {
          background-color: $palette-turquoise;
        }

        &.review-palette-green {
          background-color: $palette-green;
        }

        &.review-palette-yellow {
          background-color: $palette-yellow;
        }

        &.review-palette-red {
          background-color: $palette-red;
        }

        &.review-palette-wordpress-light {
          background-color: $palette-wordpress-light;
        }

        &.review-palette-wordpress-medium {
          background-color: $palette-wordpress-medium;
        }

        &.review-palette-wordpress-dark {
          background-color: $palette-wordpress-dark;
        }

        &.review-palette-wordpress-darkest {
          background-color: $palette-wordpress-darkest;
        }

        .review-rating {
          padding-bottom: 16px;

          i.fa-star {
            font-size: 22px;
            color: #feca2f;
            margin-right: 8px;

            &:last-child {
              margin-right: 0;
            }

            @media (min-width: 992px) {
              font-size: 26px;
            }
          }
        }

        a {
          text-decoration: none;

          &.review-white {
            color: #fff;
          }

          h4 {
            font-size: 22px;
            font-weight: 500;
            line-height: 1.25em;
            padding-bottom: 12px;

            @media (min-width: 992px) {
              font-size: 24px;
            }
          }
        }

        p {
          font-size: 16px;
          line-height: 1.5em;

          @media (min-width: 992px) {
            font-size: 18px;
          }
        }

        .review-footer {
          margin-top: auto;

          span {
            display: block;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -0.55px;

            @media (min-width: 992px) {
              font-size: 18px;
            }
          }

          small {
            display: block;
            font-size: 15px;
            font-weight: 500;
            opacity: 0.9;
          }
        }
      }
    }
  }
}
