section.stairs {
  .stair-steps {
    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  .stair-step {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      margin-right: 16px;
      margin-bottom: 0px;
    }

    @media (min-width: 992px) {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0px;
    }

    > img {
      display: none;

      @media (min-width: 768px) {
        max-width: 60%;
        display: inline-block;
      }

      @media (min-width: 1200px) {
        max-width: 80%;
      }

      &.refine {
        z-index: -1;
        position: relative;
        bottom: -4px;
      }
    }

    > div {
      padding: 32px;
      background-color: $palette-lighter;
      border-radius: 8px;

      h2 {
        font-size: 40px;
        letter-spacing: -2px;
        padding-bottom: 16px;

        @media (min-width: 992px) {
          font-size: 64px;
          letter-spacing: -3px;
          padding-bottom: 20px;
        }
      }

      p {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 1.7em;
        padding-bottom: 24px;

        @media (min-width: 992px) {
          padding-bottom: 32px;
        }
      }
    }
  }

  .stair-step-two {
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .stair-step-three {
    @media (min-width: 768px) {
      margin-bottom: 80px;
    }
  }
}
