.ticker-holder {
  opacity: 0;
}

.tickercontainer {
  height: auto;
  overflow: hidden;

  .mask {
    position: relative;
    overflow: hidden;

    ul {
      position: relative;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .tickeroverlay-left,
    .tickeroverlay-right {
      display: none;
    }
  }
}
