section.contact-team {
  .contact-team-members {
    padding-bottom: 24px;

    @media (min-width: 992px) {
      padding-bottom: 64px;
    }

    > div {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;

      img {
        max-width: 128px;
      }

      h3 {
        font-size: 15px;
        margin-top: 8px;
        font-weight: 700;

        @media (min-width: 768px) {
          font-size: 18px;
          margin-top: 24px;
        }
      }

      p {
        margin: 4px 0px;
        font-size: 14px;
        font-weight: 500;
        color: $text-dark-64;

        @media (min-width: 768px) {
          margin: 8px 0px;
          font-size: 16px;
        }
      }

      div {
        padding-top: 2px;

        a.social {
          color: $text-dark-64;
          padding: 4px 0px;
          margin: 4px;
          font-size: 16px;

          i {
            transition: transform 0.2s ease-out;
          }

          @media (min-width: 768px) {
            font-size: 18px;
          }

          &:hover {
            i {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }

  .contact-team-contributors {
    padding-bottom: 24px;
    font-family: $font-secondary;
    font-size: 24px;
    color: $palette-red;
    letter-spacing: -1px;

    a {
      color: $palette-red;
    }
  }

  hr {
    border-color: $splitter;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
