section.product-hosting {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
      padding-bottom: 104px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  h2 {
    @media (min-width: 1200px) {
      width: 93%;
    }

  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .product-hosting-visual {
    padding-top: 32px;

    @media (min-width: 992px) {
      display: flex;
      align-items: flex-end;
      padding-top: 64px;
    }

    .product-hosting-option {
      background-color: $palette-hosting;
      padding: 24px;
      border-radius: 0px 24px 24px 24px;
      color: #fff;
      position: relative;
      width: 100%;
      margin-bottom: 16px;

      h3 {
        font-size: 48px;
        line-height: 1.2em;
      }

      p {
        position: relative;
        font-size: 18px;
        line-height: 1.7em;
        font-weight: 500;
        padding-top: 16px;
        width: 70%;
        z-index: 2;

        a {
          color: #fff;
          text-decoration: underline;

          @media (min-width: 992px) {
            display: inline-block;
          }
        }
      }

      img {
        position: absolute;
        max-width: 100%;
        z-index: 1;
      }

      @media (min-width: 992px) {
        padding: 48px;
        border-radius: 0px 64px 64px 64px;
        margin-bottom: 0px;

        h3 {
          font-size: 56px;
        }
      }

      @media (min-width: 1200px) {
        border-radius: 0px 128px 128px 128px;

        h3 {
          font-size: 64px;
        }
      }

      &.product-hosting-cloud {
        img {
          height: 140px;
          bottom: 0px;
          right: 24px;
        }

        @media (min-width: 992px) {
          width: 345px;
          height: 460px;
          margin-right: 32px;

          p {
            width: 100%;
          }

          img {
            height: 150px;
            left: -8px;
            right: auto;
          }
        }

        @media (min-width: 1200px) {
          width: 432px;
          height: 576px;
          margin-right: 64px;

          img {
            height: 320px;
            left: -16px;
          }
        }
      }

      &.product-hosting-self {
        p {
          width: 80%;
        }

        img {
          height: 126px;
          bottom: -16px;
          right: 0px;
        }

        @media (min-width: 992px) {
          width: 460px;
          height: 345px;

          p {
            width: 90%;
          }

          img {
            height: 150px;
            bottom: -19px;
            right: 0px;
          }
        }

        @media (min-width: 1200px) {
          width: 576px;
          height: 432px;

          p {
            width: 70%;
          }

          img {
            height: 330px;
            bottom: -42px;
          }
        }
      }
    }

    span {
      display: block;
      font-family: $font-secondary;
      font-size: 32px;
      line-height: 1em;
      letter-spacing: -2px;
      color: $palette-hosting;
      text-align: center;
      transform: rotate(-2deg);

      @media (min-width: 992px) {
        position: absolute;
        text-align: left;
        font-size: 40px;
        letter-spacing: -3px;
        bottom: 365px;
        transform: rotate(-5deg);
      }

      @media (min-width: 1200px) {
        font-size: 48px;
        bottom: 460px;
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-yellow);
      @include shape-xs(100px, 10%, 10%, auto, auto);
      @include shape-lg(200px, -15%, 5%, auto, auto);
      @include shape-xl(300px, -15%, 5%, auto, auto);
    }
  }
}
