section.product-intro {
  .container {
    padding-top: 60px;

    @media (min-width: 992px) {
      padding-top: 100px;
    }

    @media (min-width: 1200px) {
      padding-top: 140px;
    }
  }

  .row {
    justify-content: center;
    text-align: center;
  }

  h1 {
    @media (min-width: 1200px) {
      font-size: 144px;
      line-height: 0.95em;
    }
  }

  .intro-text {
    display: flex;
    justify-content: center;

    p {
      padding-top: 50px;
      width: 93%;
    }
  }

  .product-anchors {
    padding-top: 76px;
    display: none;

    @media (min-width: 992px) {
      display: flex;
      justify-content: center;
    }
  }

  .shape-before {
    &:before {
      @include shape(circle, $palette-purple);
      @include shape-xs(100px, -25%, auto, auto, 10%);
      @include shape-md(200px, -15%, auto, auto, 2%);
      @include shape-lg(300px, -15%, auto, auto, 5%);
      @include shape-xl(400px, -15%, auto, auto, 5%);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-green);
      @include shape-xs(80px, auto, 10%, -20%, auto);
      @include shape-md(120px, auto, 10%, -20%, auto);
      @include shape-lg(160px, auto, 0%, -35%, auto);
    }
  }
}
