section.product-sharing {
  .container {
    padding-top: 80px;

    @media (min-width: 992px) {
      padding-top: 186px;
    }
  }

  .icon-chapter {
    margin-bottom: 10px;

    @media (min-width: 992px) {
      display: none;
    }
  }

  p {
    padding-top: 32px;

    @media (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .product-sharing-visual {
    padding-top: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    @media (min-width: 992px) {
      padding-top: 64px;
    }

    .product-sharing-option {
      background-color: $palette-sharing;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s ease-out;
      padding: 24px;

      @media (min-width: 992px) {
        padding: 48px;
      }

      &:hover {
        transform: scale(1.03);
      }

      &.product-sharing-link {
        border-radius: 32px 32px 4px 32px;
        margin-right: 16px;

        @media (min-width: 768px) {
          margin-right: 24px;
          border-radius: 64px 64px 8px 64px;
        }

        svg {
          width: 100px;
          height: 100px;

          @media (min-width: 768px) {
            width: 200px;
            height: 200px;
          }

          @media (min-width: 992px) {
            width: 248px;
            height: 248px;
          }

          path {
            fill: #fff;
          }
        }
      }

      &.product-sharing-embed {
        border-radius: 28px 28px 28px 4px;

        @media (min-width: 768px) {
          border-radius: 56px 56px 56px 8px;
        }

        svg {
          width: 64px;
          height: 64px;

          @media (min-width: 768px) {
            width: 120px;
            height: 120px;
          }

          @media (min-width: 992) {
            width: 168px;
            height: 168px;
          }

          path {
            fill: $text-dark;
          }
        }
      }
    }
  }

  .hyperlink {
    margin-top: 32px;

    @media (min-width: 992px) {
      margin-top: 64px;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-red);
      @include shape-xs(32px, -0%, 40%, auto, auto);
      @include shape-lg(64px, -15%, 5%, auto, auto);
      @include shape-xl(64px, -15%, 5%, auto, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(circle, $palette-blue);
      @include shape-xs(80px, auto, 10%, 20%, auto);
      @include shape-md(120px, auto, 10%, 0%, auto);
      @include shape-lg(160px, auto, -25%, 0, auto);
    }
  }
}
