section.features-intro {
  p {
    padding-bottom: 0px;

    @media (min-width: 1200px) {
      width: 95%;
    }
  }

  .shape-before {
    &:before {
      @include shape(diamond, $palette-yellow);
      @include shape-xs(64px, -3%, 5%, auto, auto);
      @include shape-md(64px, -15%, 15%, auto, auto);
      @include shape-lg(128px, -20%, 10%, auto, auto);
      @include shape-xl(128px, -20%, 15%, auto, auto);
    }
  }
}
