section.subscribe-confirmation {
  .shape-before {
    &:before {
      @include shape(circle, $palette-green);
      @include shape-xs(64px, auto, 10%, 5%, auto);
      @include shape-md(64px, auto, -10%, 0%, auto);
      @include shape-lg(128px, auto, -20%, 0%, auto);
      @include shape-xl(128px, auto, -20%, 0%, auto);
    }
  }

  .shape-after {
    &:after {
      @include shape(diamond, $palette-purple);
      @include shape-xs(100px, -8%, auto, auto, 20%);
      @include shape-sm(100px, -8%, auto, auto, 20%);
      @include shape-md(100px, -4%, auto, auto, 25%);
      @include shape-lg(200px, -15%, auto, auto, 30%);
      @include shape-xl(200px, -10%, auto, auto, 30%);
    }
  }
}
